In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt, seaborn as sns
%matplotlib inline

In [3]:
%store -r Team_Average

In [4]:
%store -r Team_Clustering

In [5]:
Team_Average

     Result  Team 1_Batting  Team 1_bowling  Team 2_Batting  Team 2_bowling
0         1   -1.591864e-16   -1.175530e-16    4.910602e-17    7.686159e-17
1         1   -1.591864e-16   -1.175530e-16    4.910602e-17    7.686159e-17
2         1   -1.591864e-16   -1.175530e-16    4.910602e-17    7.686159e-17
3         1    8.881784e-18   -8.881784e-17    1.065814e-16    0.000000e+00
4         0    8.881784e-18   -8.881784e-17    1.065814e-16    0.000000e+00
..      ...             ...             ...             ...             ...
114       0    1.811417e-16    8.180591e-17    1.243450e-16   -4.440892e-18
115       0    1.811417e-16    8.180591e-17    1.243450e-16   -4.440892e-18
116       0    1.065814e-16    0.000000e+00    1.243450e-16   -4.440892e-18
117       1    1.065814e-16    0.000000e+00    1.243450e-16   -4.440892e-18
118       1    1.065814e-16    0.000000e+00    1.243450e-16   -4.440892e-18

[119 rows x 5 columns]

In [6]:
Team_Clustering

,Result,Team 1_Cluster1,Team 1_Cluster2,Team 1_Cluster3,Team 2_Cluster1,Team 2_Cluster2,Team 2_Cluster3
0,1,7,5,5,16,2,8
1,1,7,5,5,16,2,8
2,1,7,5,5,16,2,8
3,1,13,8,4,15,5,5
4,0,13,8,4,15,5,5
...,...,...,...,...,...,...,...
114,0,4,9,6,14,6,5
115,0,4,9,6,14,6,5
116,0,15,5,5,14,6,5
117,1,15,5,5,14,6,5
118,1,15,5,5,14,6,5

In [7]:
Team =pd.concat([Team_Average,Team_Clustering],axis="columns")

In [8]:
Team

,Result,Team 1_Batting,Team 1_bowling,Team 2_Batting,Team 2_bowling,Result,Team 1_Cluster1,Team 1_Cluster2,Team 1_Cluster3,Team 2_Cluster1,Team 2_Cluster2,Team 2_Cluster3
0,1,-1.591864e-16,-1.175530e-16,4.910602e-17,7.686159e-17,1,7,5,5,16,2,8
1,1,-1.591864e-16,-1.175530e-16,4.910602e-17,7.686159e-17,1,7,5,5,16,2,8
2,1,-1.591864e-16,-1.175530e-16,4.910602e-17,7.686159e-17,1,7,5,5,16,2,8
3,1,8.881784e-18,-8.881784e-17,1.065814e-16,0.000000e+00,1,13,8,4,15,5,5
4,0,8.881784e-18,-8.881784e-17,1.065814e-16,0.000000e+00,0,13,8,4,15,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
114,0,1.811417e-16,8.180591e-17,1.243450e-16,-4.440892e-18,0,4,9,6,14,6,5
115,0,1.811417e-16,8.180591e-17,1.243450e-16,-4.440892e-18,0,4,9,6,14,6,5
116,0,1.065814e-16,0.000000e+00,1.243450e-16,-4.440892e-18,0,15,5,5,14,6,5
117,1,1.065814e-16,0.000000e+00,1.243450e-16,-4.440892e-18,1,15,5,5,14,6,5
118,1,1.065814e-16,0.000000e+00,1.243450e-16,-4.440892e-18,1,15,5,5,14,6,5

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
from sklearn.metrics import classification_report

In [11]:
from sklearn.metrics import confusion_matrix

In [12]:
import sklearn.metrics as metrics

In [13]:
X =Team.drop(['Result'],axis=1)

In [14]:
y=Team['Result']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

In [16]:
X_train.shape, X_test.shape

((83, 10), (36, 10))

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
rfc=RandomForestClassifier(n_estimators=200)

In [19]:
rfc.fit(X_train, y_train)

RandomForestClassifier(n_estimators=200)

In [20]:
rfc_predict =rfc.predict(X_test)

In [21]:
print("Accuracy:",metrics.accuracy_score(y_test, rfc_predict))

Accuracy: 0.6111111111111112

In [22]:
print(confusion_matrix(y_test.values.argmax(axis=1), rfc_predict.argmax(axis=1)))
print('\n')
print(classification_report(y_test,rfc_predict))

[[36]]


              precision    recall  f1-score   support

           0       0.60      0.67      0.63        18
           1       0.60      0.67      0.63        18

   micro avg       0.60      0.67      0.63        36
   macro avg       0.60      0.67      0.63        36
weighted avg       0.60      0.67      0.63        36
 samples avg       0.33      0.33      0.33        36

K:\4th year\my research practical\jupyter\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
K:\4th year\my research practical\jupyter\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in samples with no true labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [23]:
 from sklearn.svm import SVC

In [24]:
model =SVC()

In [25]:
model.fit(X_train,y_train)

ValueError: y should be a 1d array, got an array of shape (83, 2) instead.

In [52]:
predictions=model.predict(X_test)

NotFittedError: This SVC instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [53]:
print("Accuracy:",metrics.accuracy_score(y_test, predictions))

NameError: name 'predictions' is not defined

In [54]:
print(confusion_matrix(y_test,predictions))
print('\n')
print(classification_report(y_test,predictions))

NameError: name 'predictions' is not defined